.cartContainer {
    margin-top: 90px; /* Ajusta el valor según el margen deseado */
  }
  
.emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado a flex-start */
    height: 100vh;
  }
  
  .emptyMessage {
    font-size: 2.5rem;
    font-weight: bold; /* Agregado estilo de negrita */
    margin-bottom: 1rem;
  }
  
  .shopLink {
    background-color: #ffc0cb; /* Cambiado a un rosa clarito */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 1rem;
    text-decoration: none;
  }
  
  .subtotal {
    font-size: 1.5rem;
    text-align: center; /* Centrar el subtotal en el medio */
    margin-top: 2rem; /* Mayor espacio superior */
  }

  .checkout-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* Agregar margen superior */
  }
  
  .checkout-link {
    display: inline-block;
    background-color: transparent;
    border: 1.5px solid #ccc;
    border-color: #000;
    padding: 0.5rem 1.3rem; 
    border-radius: 0;
    font-size: 1.1rem;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: border-color 0.3s;
    text-decoration: none;
  }
  
  .checkout-link:hover {
    text-decoration: none;
    color: #000;
    border-style: dashed;
    border-color: #999;
  }

  