/* Estilos para el mensaje de éxito */
.checkoutSuccess {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #dff0d8;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    max-width: 600px; /* Limitar el ancho del contenedor */
    margin-left: auto; /* Centrar horizontalmente */
    margin-right: auto; /* Centrar horizontalmente */
  }
  
  .checkoutSuccess p {
    font-size: 18px;
    font-weight: bold;
    color: #3c763d;
  }
  
  /* Estilos generales para el componente */
  .checkoutContainer {
    margin-top: 90px; /* Ajusta el margen superior según tu diseño */
  }
  
  /* Estilos para el formulario de checkout */
  .checkoutFormContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  